@import '../../app/styles/variables.scss';

.start-screen {
  background-color: $color-primary;
}

.start-screen__wrapper {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-primary;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  .link {
    font-size: 1.5rem;
  }
}

.start-screen__title {
  font-weight: 600;
  font-size: 3rem;
  color: $color-font-dark-l;
  text-align: center;

  @media screen and (max-width: 700px) {
    font-size: 6vw;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.9rem;
  }
}
