@import '../../shared/styles/mixins.scss';
@import '../../shared/styles/variables.scss';

.start-screen-container {
  @include container();
  background-color: $color-primary;
}

.start-screen {
  width: 100%;
  max-width: 1280px;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-primary;
}

.start-screen_title {
  font-weight: 600;
  font-size: 3rem;
  color: $color-font-dark-l;
}