.login-form {
    width: 50%;
    margin: 0 auto;
    background-color: beige;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form__fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}