@import '../../app/styles/variables.scss';
.form {
  width: 50%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.MuiTypography-root.form__title {
  font-family: $font-primary;
}

.MuiTextField-root.form__input,
.MuiFormControl-root.form__input {
  width: 80%;
  font-family: $font-primary;
}

.form__input .MuiOutlinedInput-notchedOutline {
  border: 3px solid $color-primary;
  font-family: $font-primary;
}

.form__input_password .MuiInputBase-root {
  font-family: $font-primary;
  padding-bottom: 0.5rem;
  &::before {
    border-bottom: 3px solid $color-primary;
  }
}

.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-primary;
}

.registration__form {
  width: 60vw;
  max-width: 900px;
  margin-top: 2rem;
  padding: 3rem;
  background-color: $color-primary-xs;
}

.registration__user-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  row-gap: 2rem;
}

.registration__address-info {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'street street street'
    'city zip country';
  row-gap: 1.5rem;
}
.MuiTextField-root.form__input_street {
  width: 70%;
}

.MuiTextField-root.form__input_zip {
  width: 60%;
}

.MuiTextField-root.form__input_city {
  width: 100%;
}

.MuiTextField-root.form__input_country {
  width: 100%;
}

.form__input_street {
  grid-area: street;
}

.form__input_city {
  grid-area: city;
}

.form__input_zip {
  grid-area: zip;
}

.form__input_country {
  grid-area: country;
}

.MuiButtonBase-root.form__submit {
  width: 10rem;
  background-color: $color-primary;
  font-family: $font-primary;
  align-self: center;
}
