@import '../../app/styles/variables.scss';

.registration {
  padding-top: 5rem;
  background-color: $color-primary-s;
}

.MuiTypography-h3.registration__title {
  font-family: $font-primary;
  cursor: default;
  @media screen and (max-width: 450px) {
    font-size: 2.5rem;
  }
}

.registration__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration__link {
  font-family: $font-primary;
  color: $color-secondary;
  font-size: 0.95rem;
  @media screen and (max-width: 450px) {
    font-size: 0.85rem;
  }
}
