@import '../../app/styles/mixins.scss';
@import '../../app/styles/variables.scss';

.header-container {
  @include container();
}

.header {
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-primary;
  color: $color-font-dark-xl;
}

.nav {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}