@import '../../app/styles/variables.scss';

.header__wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-primary;
  color: $color-font-dark-xl;
}

.header__logo {
  max-width: 7rem;
  font-size: 1.5rem;
  font-weight: 400;
  @media screen and (max-width: 400px) {
    .logo__title {
      display: none;
    }
  }
}

.header__nav {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 700px) {
    width: 40%;
  }
  @media screen and (max-width: 450px) {
    width: 55%;
    font-size: 0.9rem;
  }
}
