.login-form {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 6rem;
}

.login-form__wrapper {
  width: 45%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-form__fields {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}

.login-form__link {
  width: 100%;
  margin: 0 auto;
}
