.coupon {
  cursor: default;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  &__title {
    padding: 0.8rem 0;
    font-weight: 600;
    font-size: 1.5rem;
    border-bottom: 0.01rem solid $color-shadow;
  }

  &__helper-text {
    font-size: 0.9rem;
    color: $color-font-dark-s;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }

  &__text-field.MuiTextField-root {
    width: 100%;
    label {
      font-size: 0.9rem;
    }
  }

  &__apply-button {
    .button.MuiButtonBase-root {
      border: 0.01rem solid $color-shadow;
      padding: 0.5rem 1.3rem;

      &:hover {
        border-color: $color-secondary;
      }
    }
  }

  &__coupon-message {
    padding: 0.7rem 1rem 0.7rem 0.8rem;
    width: max-content;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-radius: 0.4rem;

    &_applied {
      border: 0.09rem solid $color-accept;
    }

    &_denied {
      border: 0.09rem solid $color-delete;
    }

    .icon {
      width: 2rem;
    }
  }

  &__coupon-message-title {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
