.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    margin: 0 auto;
    padding: 1rem;

    width: 75vw;
    height: 85vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    overflow: auto;
    background-color: $color-primary-s;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    width: 8rem;
  }
}
