.pagination {

  &__list {
    display: flex;
    gap: 1rem;

    &-item-link {
      background-color: $color-primary-xs;
      color: $color-secondary;
      font-size: 1.4rem;
      border: 0px;
      border-radius: 50%;
      padding: 1rem 1.4rem;
      cursor: pointer;
      transition: .6s;
    }

    &-item-link:hover {
      transform: scale(1.1);
    }
  }
}

.active {
  box-shadow: $color-shadow 0px .1rem 1rem;
  color: $color-secondary;
  font-size: 1.4rem;
  border: 0px solid $color-font-dark-l;
  border-radius: 50%;
  padding: 1rem 1.4rem;
  cursor: pointer;
}
