.pagination {
  // &__container {
  //   // display: flex;
  //   // flex-direction: row;
  //   // gap: 20px;
  //   // padding-top: 16px;
  //   // position: relative;
  //   // bottom: -82vh;
  //   // left: 190%;
  // }

  &__list {
    display: flex;
    gap: 1rem;

    &-item-link {
      color: $color-secondary;
      font-size: 1.4rem;
      border: 1px solid $color-font-dark-l;
      border-radius: 50%;
      padding: 1rem 1.4rem;
      cursor: pointer;
    }

    &-item-link:hover {
      border-color: $color-shadow;
    }
  }
}

.active {
  color: $color-secondary;
  font-size: 1.4rem;
  border: 1px solid $color-font-dark-l;
  border-radius: 50%;
  padding: 1rem 1.4rem;
  cursor: pointer;
  background-color: $color-primary;
}

