.card {
  width: 19rem;
  height: 31rem;

  border: 3px solid $color-primary;
  box-shadow: 0px 0px 5px 0px $color-primary;
  border-radius: 7px;

  color: $color-font-dark-xl;

  transition: 0.3s all;

  &:hover {
    transform: scale(103%);
    color: $color-font-dark-xl;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    width: 100%;
    height: 65%;
    overflow: hidden;
    border-radius: 7px;

    img {
      width: 100%;
    }
  }

  &__content {
    height: 30%;
    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
