.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    width: 75vw;
    height: 85vh;
    margin: 0 auto;
    background-color: $color-primary-s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    overflow: auto;
  }

  &__content-description {
    text-align: left;
    font-weight: bold;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    width: 8rem;
  }
}
