body {
  background-color: #f3c63e;
}

.page404-container {
    margin: 0 auto;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #f3c63e;
    background-image: url(../../shared/assets/back.png);
    background-size: contain;
    color: white;
}

.page404-title {
    font-size: 8rem;
    font-weight: bold;
}

.page404-subtitle {
    font-size: 2rem;
    font-weight: bold;
}

.page404-describe {
    font-size: 2rem;
}
