$color-font-dark-xl: #000000;
$color-font-dark-l: #4d4545;
$color-font-dark-s: #686767;
$color-primary-xs: #ffffff;
$color-primary-s: #fcfcf8;
$color-primary: #fef97a;
$color-primary-l: #69673a;
$color-secondary: #a31c97;
$color-shadow: #abb2b9;
$color-delete: #c51c1c;
$color-accept: #22874a;
$color-discounted: #4db416;

$font-primary: 'Inter', sans-serif;
